---
    - name: Install python3
      hosts: docker
      become: yes
      tasks:
        - name: Add Docker repo
          get_url:
            url: https://download.docker.com/linux/centos/docker-ce.repo
            dest: /etc/yum.repos.d/docer-ce.repo

        - name: Install python3 & docker
          vars:
            ansible_python_interpreter: /usr/bin/python
          yum:
            name:
              - yum-utils
              - python3
              - docker-ce
            update_cache: yes
            state: present

        - name: Install Docker-compose
          hosts: docker
          tasks:
            - name: Install docker compose
              get_url:
                url: https://github.com/docker/compose/releases/download/1.23.2/docker-compose-Linux-{{lookup('pipe', 'uname -m')}}
                dest: /usr/local/bin/docker-compose
                mode: +x

