---
    - name: install docker
      hosts: docker
      become: yes
      tasks:
        - name: Add repository into repo.d list
          ansible.builtin.yum_repository:
            name: docker
            description: docker repository
            baseurl: "https://download.docker.com/linux/centos/docker-ce.repo"
            enabled: true
            gpgcheck: true
            gpgkey: "https://download.docker.com/linux/centos/gpg"

        - name: Install Docker
          ansible.builtin.yum:
            name:
              - docker-ce
              - docker-ce-cli
              - containerd.io
            state: latest
            update_cache: true
  #        - name: Start Docker
  #          ansible.builtin.service:
  #            name: "docker"
  #            enabled: true
  #            state: started