---
    - name: Install python3
      hosts: docker
      become: yes
      tasks:
        - name: Add Docker repo
          get_url:
            url: https://download.docker.com/linux/centos/docker-ce.repo
            dest: /etc/yum.repos.d/docer-ce.repo

        - name: Install python3, dokcer and docker compose
          vars:
            ansible_python_interpreter: /usr/bin/python
          yum:
            name:
              - yum-utils
              - python3
              - docker-ce
            update_cache: yes
            state: present
        - name: Install docker python module
          pip:
            name: docker
        - name: Install docker compose
          get_url:
            url: https://github.com/docker/compose/releases/download/1.23.2/docker-compose-Linux-{{lookup('pipe', 'uname -m')}}
            dest: /usr/local/bin/docker-compose
            mode: +x
        - name: Ensure docker is running
          systemd:
            name: docker
            state: started
        - name: Add centos to docker
          user:
            name: centos
            groups: docker
            append: yes
        - name: Reconnect to server
          meta: reset_connection

    - name: start docker compose
      hosts: docker
      vars_files:
        - install-vars
      tasks:
#        - name: copy docker compose
#          copy:
#            src: /home/centos/ansible-try/docker-compose.yml
#            dest: /home/centos/ansible-try/ansible
        - name: docker login
          docker_login:
            registry_url: https://index.docker.io/v1/
            username: sandeepcomsole
            password: "{{password}}"