---
      - name: install docker
        hosts: docker
        tasks:
#          - name: Install yum utils
#            yum:
#              name: yum-utils
#              state: latest

          - name: Add Docker repo
            get_url:
              url: https://download.docker.com/linux/centos/docker-ce.repo
              dest: /etc/yum.repos.d/docer-ce.repo
            become: yes

          - name: Enable Docker Edge repo
            ini_file:
              dest: /etc/yum.repos.d/docer-ce.repo
              section: 'docker-ce-edge'
              option: enabled
              value: 0
            become: yes

          - name: Enable Docker Test repo
            ini_file:
              dest: /etc/yum.repos.d/docer-ce.repo
              section: 'docker-ce-test'
              option: enabled
              value: 0
            become: yes

          - name: Install Docker
            package:
              name: docker-ce
              state: latest
            become: yes