version: latest
services:
  web:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - .:/code
      - logvolume01:/var/log
  java-test:
    image: sandeepcomsole/sandy:nginx-1
volumes:
  logvolume01: {}