---
- name: consfigure nginx we server
  hosts: centos
  become: true
  tasks:
  - name: update the server
    yum:
      name: epel-release
      state: installed
  - name: install nginx server
    yum:
      name: nginx
      state: latest
  - name: start nginx server
    service:
      name: nginx
      state: restarted